parameters:

application:
	errorPresenter: Error
	scanDirs: false
	mapping:
		*: Test\App\*Module\Presenters\*Presenter

services:
	router: Tests\Router\Factory()::createRouter

	url: Nette\Http\Url('http://localhost.tld/')
	application.linkGenerator: Nette\Application\LinkGenerator(@router, @url)
